In [1]:
import pandas as pd
import numpy as np

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [5]:
df=pd.read_csv('restaurants.csv', sep = ',')
df

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
...,...,...,...,...,...,...,...
779,35869,26467,Ярославль,Суши,105.0,3.0,1.0
780,24614,17145,Ярославль,Суши,116.0,8.0,2.0
781,28675,20418,Ярославль,Пицца,86.0,6.0,2.0
782,24949,17440,Ярославль,Японская,459.0,8.0,0.0
783,28676,20418,Ярославль,Пицца,109.0,10.0,2.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 784 entries, 0 to 783
Data columns (total 7 columns):
vendor_id            784 non-null int64
chain_id             784 non-null int64
city_name            784 non-null object
specialisation       784 non-null object
successful_orders    784 non-null float64
fail_orders          784 non-null float64
reorders             784 non-null float64
dtypes: float64(3), int64(2), object(2)
memory usage: 43.0+ KB

In [8]:
df.shape

(784, 7)

In [12]:
df[df['specialisation']=='Рыба'].shape

(30, 7)

In [15]:
df.groupby('city_name').nunique().shape

(63, 7)

In [16]:
df['successful_orders'].mean()

115.34438775510205

In [26]:
df['city_name'].value_counts()

Пермь             14
Ставрополь        14
Сочи              14
Волжский          14
Курск             14
                  ..
Вологда            3
Йошкар-Ола         3
Егорьевск          3
Стерлитамак        3
Ханты-Мансийск     2
Name: city_name, Length: 63, dtype: int64

In [31]:
df[df['fail_orders']>20].shape

(10, 7)

In [33]:
df[(df['fail_orders']>20) & (df['successful_orders']<500)].shape

(5, 7)

In [36]:
df[df['specialisation']=='Выпечка']['successful_orders'].mean()

12.8

In [37]:
df[df['specialisation']=='Бургеры']['successful_orders'].max()

506.0

In [51]:
new_df=df.groupby('specialisation')['fail_orders'].sum()/(df.groupby('specialisation')['fail_orders'].sum()+df.groupby('specialisation')['successful_orders'].sum()+df.groupby('specialisation')['reorders'].sum())
new_df
new_df.sort_values()

specialisation
Фастфуд                0.000000
Итальянская            0.007407
Русская                0.008065
Рыба                   0.009884
Японская               0.011422
Гирос                  0.012968
Шаурма                 0.015464
Китайская              0.019565
Супы                   0.019828
Сэндвичи               0.020325
Шашлыки                0.020389
Пицца                  0.021832
Суши                   0.022030
Мясо                   0.022161
Паста и ризотто        0.024242
Грузинская             0.025381
Пироги                 0.026052
Узбекская              0.028571
Бургеры                0.028783
Мексиканская           0.029412
Паназиатская           0.046512
Выпечка                0.057971
Индийская              0.093023
Корейская              0.100000
Десерты                0.120000
Хот-доги               0.187500
Вегетарианское меню    0.304348
dtype: float64

In [39]:
df[(df['specialisation']=='Суши') & (df['city_name']=='Белгород')]['successful_orders'].mean()

328.0

In [42]:
df1=pd.read_csv('restaurant_scores.csv', sep = ',')
df1

          id  model_score
0          1     0.622864
1          2     0.331360
2          3     0.450092
3          4     0.240392
4          5     0.297691
...      ...          ...
37717  37951     0.754494
37718  37952     0.662785
37719  37953     0.509935
37720  37954     0.417669
37721  37955     0.031183

[37722 rows x 2 columns]

In [54]:
res=pd.merge(df, df1, left_on='chain_id',right_on='id')
res

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders,id,model_score
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0,20633,0.458147
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0,27399,0.683915
2,37382,27399,Архангельск,Пироги,1.0,0.0,0.0,27399,0.683915
3,28703,20431,Архангельск,Суши,111.0,3.0,0.0,20431,0.191467
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0,27151,0.914714
...,...,...,...,...,...,...,...,...,...
773,36105,26635,Ярославль,Суши,122.0,5.0,1.0,26635,0.909173
774,34523,25434,Ярославль,Фастфуд,66.0,0.0,0.0,25434,0.701914
775,24614,17145,Ярославль,Суши,116.0,8.0,2.0,17145,0.462239
776,28675,20418,Ярославль,Пицца,86.0,6.0,2.0,20418,0.020559
777,28676,20418,Ярославль,Пицца,109.0,10.0,2.0,20418,0.020559

In [57]:
res[res['chain_id']==27399]['model_score'].mean()

0.6839149273000661